@model CMDB.API.Models.KensingtonDTO
@{
    Layout = "_Layout";
}
<h2>@ViewData["Title"]</h2>
@if ((bool)ViewData["AddAccess"])
{
    <form class="form-horizontal" action="@ViewData["Controller"]" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SerialNumber" class="control-label">Serial number <span style="color:red;">*</span></label>
            <input asp-for="SerialNumber" class="form-control" />
            <span class="text-danger field-validation-valid" asp-validation-for="SerialNumber" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label asp-for="AmountOfKeys" class="control-label">Amount of keys <span style="color:red;">*</span></label>
            <input asp-for="AmountOfKeys" class="form-control" />
            <span class="text-danger field-validation-valid" asp-validation-for="AmountOfKeys" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label asp-for="HasLock" class="control-label">Has lock <span style="color:red;">*</span></label>
            <input asp-for="HasLock" class="form-check-inline"/>
            <span class="text-danger field-validation-valid" asp-validation-for="HasLock" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Type <span style="color:red;">*</span></label>
            @Html.DropDownListFor(Model => Model.Type, (IEnumerable<SelectListItem>)ViewBag.Type, "Please select", new { @class = "form-control" })
            <span class="text-danger field-validation-valid" asp-validation-for="Type" data-valmsg-replace="true"></span>
        </div>
        <input type="hidden" name="form-submitted" value="1" /><br>
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Create</button>
            <a class="btn" asp-area="" asp-controller="Kensington" asp-action="Index"><i class="@ViewBag.BackIcon"></i> Back</a>
        </div>
        <div class="form-group">
            <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span>
        </div>
    </form>
}
else
{
    <p>You do not access to this page</p>
}
