# C extensions
*.so

# Pyre type checker
.pyre/
# Generated PDF Files
CMDB/CMDB/wwwroot/PDF-Files/*.pdf
# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
# NUNIT
*.VisualState.xml
TestResult.xml
# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
# files to ignore
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.dll
*.pdb
*.png

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.cache
*.VC.db
*.VC.VC.opendb
Execution.*.txt

# SpecFlow
*.feature.cs
*.feature.xlsx.*

#spefic build:
CMDB/.vs/
CMDB/bin/
CMDB/CMDB/
CMDB/CMDB.Domain/obj/Debug/*
*.cache
CMDB/CMDB.Domain/obj/Debug/net5.0/CMDB.Domain.csproj.FileListAbsolute.txt
