<?xml version="1.0"?>
<!DOCTYPE>
<module name="Checker">
  <module name="TreeWalker">
    <!-- Import Checks
    http://checkstyle.sourceforge.net/config_imports.html -->
    <module name="UnusedImports"/>
    <module name="VisibilityModifier"/>
    <module name="JavadocMethod"/>
    <module name="MethodName"/>
    <module name="AvoidStarImport"/>
    <module name="WhitespaceAround">
      <property name="tokens"
                value="ASSIGN, DIV_ASSIGN, PLUS_ASSIGN, MINUS_ASSIGN, STAR_ASSIGN,
                       MOD_ASSIGN, SR_ASSIGN, BSR_ASSIGN, SL_ASSIGN, BXOR_ASSIGN,
                       BOR_ASSIGN, BAND_ASSIGN"/>
    </module>
  </module>
</module>
