<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="c:\temp\nlog-internal.txt"
      internalLogToConsole="true">
  <targets>
    <target name="fileTarget" type="file" fileName="${BaseDir}..\..\..\Logs\WebExecution.log"
          layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
          archiveFileName="${BaseDir}..\..\..\Logs\WebExecution.{#}.txt"
          archiveNumbering="Date"
          archiveEvery="Day"
          archiveDateFormat="yyyyMMdd"
          maxArchiveFiles="7"/>
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" writeTo="fileTarget"/>
  </rules>
</nlog>