@{
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-4" data-testid="Welcome">Welcome</h1>
    <p>Welcome on the Central Management Database of @ViewData["Company"]</p>
</div>
