@model CMDB.Models.Identity
@{
    Layout = "_Layout";
}
<h2>@ViewData["Title"]</h2>
@if ((bool)ViewData["AddAccess"])
{
    <form class="form-horizontal" action="/Identity/Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label" asp-for="FirstName">First Name <span style="color:red;">*</span></label>
            <input name="FirstName" type="text" class="form-control" placeholder="FirstName" asp-for="FirstName">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="LastName">Last Name <span style="color:red;">*</span></label>
            <input name="LastName" type="text" class="form-control" placeholder="LastName" asp-for="LastName">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="UserID">UserID <span style="color:red;">*</span></label>
            <input name="UserID" type="text" class="form-control" placeholder="UserID" asp-for="UserID">
            <span asp-validation-for="UserID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="Company">Company <span style="color:red;">*</span></label>
            <input name="Company" type="text" class="form-control" placeholder="Company" asp-for="Company">
            <span asp-validation-for="Company" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="EMail">E-Mail Address <span style="color:red;">*</span></label>
            <input name="EMail" type="text" class="form-control" placeholder="E-Mail Address" asp-for="EMail">
            <span asp-validation-for="EMail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Language <span style="color:red;">*</span></label>
            @Html.DropDownListFor(Model => Model.Language, (IEnumerable<SelectListItem>)ViewBag.Languages, "Please select", new { @class = "form-control" })
            <span class="text-danger field-validation-valid" asp-validation-for="Language" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Type <span style="color:red;">*</span></label>
            @Html.DropDownListFor(Model => Model.Type, (IEnumerable<SelectListItem>)ViewBag.Types, "Please select", new { @class = "form-control" })
            <span class="text-danger field-validation-valid" asp-validation-for="Language" data-valmsg-replace="true"></span>
        </div>
        <input type="hidden" name="form-submitted" value="1" /><br>
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Create</button>
            <a class="btn" asp-area="" asp-controller="Identity" asp-action="Index"><i class="fa fa-arrow-left"></i> Back</a>
        </div>
        <div class="form-group">
            <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span>
        </div>
    </form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
}
else
{
    <p>You do not access to this page</p>
}
