BEGIN TRANSACTION;
GO

ALTER TABLE [Log] DROP CONSTRAINT [FK_Log_RolePerm];
GO

EXEC sp_rename N'[Log].[SubsriptionId]', N'SubscriptionId', N'COLUMN';
GO

EXEC sp_rename N'[Log].[IX_Log_SubsriptionId]', N'IX_Log_SubscriptionId', N'INDEX';
GO

CREATE INDEX [IX_Log_RolePermId] ON [Log] ([RolePermId]);
GO

ALTER TABLE [Log] ADD CONSTRAINT [FK_Log_RolePerm] FOREIGN KEY ([RolePermId]) REFERENCES [RolePerm] ([Id]) ON DELETE SET NULL;
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20250722094748_change_log_column_name', N'8.0.17');
GO

COMMIT;
GO


