BEGIN TRANSACTION;
GO

ALTER TABLE [RolePerm] DROP CONSTRAINT [FK_RolePerm_Menu];
GO

ALTER TABLE [RolePerm] DROP CONSTRAINT [FK_RolePerm_Permission];
GO

ALTER TABLE [Subscription] DROP CONSTRAINT [FK_Subscription_Category];
GO

ALTER TABLE [Subscription] DROP CONSTRAINT [FK_Subscription_Type];
GO

ALTER TABLE [SubscriptionType] DROP CONSTRAINT [FK_AssetType_Category];
GO

ALTER TABLE [RolePerm] ADD CONSTRAINT [FK_RolePerm_Menu] FOREIGN KEY ([MenuId]) REFERENCES [Menu] ([MenuId]);
GO

ALTER TABLE [RolePerm] ADD CONSTRAINT [FK_RolePerm_Permission] FOREIGN KEY ([PermissionId]) REFERENCES [Permission] ([Id]);
GO

ALTER TABLE [Subscription] ADD CONSTRAINT [FK_Subscription_Category] FOREIGN KEY ([AssetCategoryId]) REFERENCES [category] ([Id]);
GO

ALTER TABLE [Subscription] ADD CONSTRAINT [FK_Subscription_Type] FOREIGN KEY ([SubsctiptionTypeId]) REFERENCES [SubscriptionType] ([Id]);
GO

ALTER TABLE [SubscriptionType] ADD CONSTRAINT [FK_AssetType_Category] FOREIGN KEY ([AssetCategoryId]) REFERENCES [category] ([Id]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20250822130720_updatedeletebehavior2', N'8.0.17');
GO

COMMIT;
GO


