BEGIN TRANSACTION;
GO

DECLARE @var0 sysname;
SELECT @var0 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[RolePerm]') AND [c].[name] = N'LastModifiedAdminId');
IF @var0 IS NOT NULL EXEC(N'ALTER TABLE [RolePerm] DROP CONSTRAINT [' + @var0 + '];');
ALTER TABLE [RolePerm] ALTER COLUMN [LastModifiedAdminId] int NULL;
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20250822133055_updateroleperm', N'8.0.17');
GO

COMMIT;
GO


