BEGIN TRANSACTION;
GO

ALTER TABLE [Admin] DROP CONSTRAINT [FK_Admin_Account];
GO

EXEC sp_rename N'[Subscription].[SubsctiptionTypeId]', N'SubscriptionTypeId', N'COLUMN';
GO

EXEC sp_rename N'[Subscription].[IX_Subscription_SubsctiptionTypeId]', N'IX_Subscription_SubscriptionTypeId', N'INDEX';
GO

ALTER TABLE [Admin] ALTER COLUMN AccountId INTEGER NULL;
ALTER TABLE [Admin] ADD CONSTRAINT [FK_Admin_Account] FOREIGN KEY ([AccountId]) REFERENCES [Account] ([AccID]) ON DELETE SET NULL;
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20250916092812_Change_subscription_table', N'8.0.17');
GO

COMMIT;
GO


