BEGIN TRANSACTION;
GO

ALTER TABLE [Account] DROP CONSTRAINT [FK_Account_Application];
GO

ALTER TABLE [Account] DROP CONSTRAINT [FK_Account_Type];
GO

ALTER TABLE [Admin] DROP CONSTRAINT [FK_Admin_Account];
GO

ALTER TABLE [Admin] DROP CONSTRAINT [FK_Admin_LastModiefiedAdmin];
GO

ALTER TABLE [IdenAccount] DROP CONSTRAINT [FK_IdenAccount_Account];
GO

ALTER TABLE [IdenAccount] DROP CONSTRAINT [FK_IdenAccount_Identity];
GO

ALTER TABLE [Identity] DROP CONSTRAINT [FK_Identity_Language];
GO

ALTER TABLE [Identity] DROP CONSTRAINT [FK_Identity_Type];
GO

ALTER TABLE [Kensington] DROP CONSTRAINT [FK_Kensington_Category];
GO

ALTER TABLE [Kensington] DROP CONSTRAINT [FK_Kensington_Type];
GO

ALTER TABLE [Mobile] DROP CONSTRAINT [FK_Mobile_Category];
GO

ALTER TABLE [Mobile] DROP CONSTRAINT [FK_Mobile_Type];
GO

ALTER TABLE [Role] DROP CONSTRAINT [FK_Role_Type];
GO

ALTER TABLE [Account] ADD CONSTRAINT [FK_Account_Application] FOREIGN KEY ([ApplicationId]) REFERENCES [Application] ([AppID]);
GO

ALTER TABLE [Account] ADD CONSTRAINT [FK_Account_Type] FOREIGN KEY ([TypeId]) REFERENCES [Type] ([TypeId]);
GO

ALTER TABLE [Admin] ADD CONSTRAINT [FK_Admin_Account] FOREIGN KEY ([AccountId]) REFERENCES [Account] ([AccID]);
GO

ALTER TABLE [Admin] ADD CONSTRAINT [FK_Admin_LastModiefiedAdmin] FOREIGN KEY ([LastModifiedAdminId]) REFERENCES [Admin] ([Admin_id]);
GO

ALTER TABLE [IdenAccount] ADD CONSTRAINT [FK_IdenAccount_Account] FOREIGN KEY ([AccountId]) REFERENCES [Account] ([AccID]);
GO

ALTER TABLE [IdenAccount] ADD CONSTRAINT [FK_IdenAccount_Identity] FOREIGN KEY ([IdentityId]) REFERENCES [Identity] ([IdenId]);
GO

ALTER TABLE [Identity] ADD CONSTRAINT [FK_Identity_Language] FOREIGN KEY ([LanguageCode]) REFERENCES [Language] ([Code]);
GO

ALTER TABLE [Identity] ADD CONSTRAINT [FK_Identity_Type] FOREIGN KEY ([TypeId]) REFERENCES [Type] ([TypeId]);
GO

ALTER TABLE [Kensington] ADD CONSTRAINT [FK_Kensington_Category] FOREIGN KEY ([CategoryId]) REFERENCES [category] ([Id]);
GO

ALTER TABLE [Kensington] ADD CONSTRAINT [FK_Kensington_Type] FOREIGN KEY ([TypeId]) REFERENCES [AssetType] ([TypeID]);
GO

ALTER TABLE [Mobile] ADD CONSTRAINT [FK_Mobile_Category] FOREIGN KEY ([CategoryId]) REFERENCES [category] ([Id]);
GO

ALTER TABLE [Mobile] ADD CONSTRAINT [FK_Mobile_Type] FOREIGN KEY ([TypeId]) REFERENCES [AssetType] ([TypeID]);
GO

ALTER TABLE [Role] ADD CONSTRAINT [FK_Role_Type] FOREIGN KEY ([TypeId]) REFERENCES [Type] ([TypeId]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20250822130056_updatedeletebehavior', N'8.0.17');
GO

COMMIT;
GO


