@model CMDB.Models.Account  
@{
    Layout = "_Layout";
}
@if ((bool)ViewData["UpdateAccess"])
{
    <h2>@ViewData["Title"]</h2>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserID" class="control-label"></label>
            <input asp-for="UserID" class="form-control" />
            <span asp-validation-for="UserID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Type <span style="color:red;">*</span></label>
            @Html.DropDownListFor(Model => Model.Type, (IEnumerable<SelectListItem>)ViewBag.Types, "Please select", new { @class = "form-control" })
            <span class="text-danger field-validation-valid" asp-validation-for="Type" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Application <span style="color:red;">*</span></label>
            @Html.DropDownListFor(Model => Model.Application, (IEnumerable<SelectListItem>)ViewBag.Applications, "Please select", new { @class = "form-control" })
            <span class="text-danger field-validation-valid" asp-validation-for="Application" data-valmsg-replace="true"></span>
        </div>
        <input type="hidden" name="form-submitted" value="1" /><br>
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Edit</button>
            <a class="btn" asp-area="" asp-controller="Account" asp-action="Index"><i class="fa fa-arrow-left"></i> Back</a>
        </div>
        <div class="form-group">
            <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span>
        </div>
    </form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
}else{
    <p>You do not access to this page</p>
}